html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cruiseAbout ul {
  margin-left: 0;
  padding-right: 0;
  padding: 0 30px;
}
.cruiseAbout li {
  padding-right: 0;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
}

.cruiseKitchen p {
  margin-bottom: 12px;
  font-size: 16px;
}
.cruiseKitchen ul {
  margin-top: 20px;
  margin-left: 0;
  padding-right: 0;
  padding: 0 30px;
}

.cruiseKitchen li {
  padding-right: 0;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
}

.cruiseKitchen strong {
  font-weight: normal;
}

.Hswiper {
  padding: 0 0 45px 0 !important;
  .swiper-slide {
    width: auto;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    border-radius: unset;
  }
  .swiper-pagination-bullet-active {
    background-color: #165d9f;
  }
}
.blog-swiper {
  min-width: 940px;
  margin: 0 -12px;
}

.blogSlide {
  width: calc(33% - 20px) !important;
  min-width: 300px !important;
  display: flex !important;
  justify-content: center !important;
}
